.container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.component{
  width: 700px;
  background: #fff;
  padding: 20px;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--grey-color);
  min-height: 210px;
  justify-content: center;
  flex-direction: column;
}

.heading4{
  margin-bottom: 5px;
}

.seperator{
  margin-top:3rem;
  margin-bottom:3rem;
  border: 1px solid #eee;
}
